/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/,
 http://www.barelyfitz.com/screencast/html-training/css/positioning/*/
/*div{
    border:1px solid;
    border-color: black;
}*/
#stran{
    display: block;
    width:65%;
    margin:auto;
    font-family:Helvetica, Arial, sans-serif;
    font-size: small;
    background-color: #f5f4f4;
}
#zgornji{
    background-color: white;
}
.nav{
    background-color:rgb(155, 44, 11);
    height:1cm;
    text-align: center;
    display: flex;
    justify-content:space-around;
    align-items:center;
    width:100%;
}
.osnovni{
    width:100%;
    height:fit-content;
    margin-top:5px;
    margin-bottom:1cm;
}
#search{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.oranznaPisava{
    color:rgb(241, 156, 45);
    width: max-content;
    float:right;
    font-size:large;
    font-weight:bolder;
}
#eid{
    position:absolute;
    margin-top:120px;
    margin-left: 250px;
    width: 2.8cm;
    height:1.1cm;
    color:black;
    background-color:white;
    border: 3.5px solid rgb(155, 44, 11);
    border-radius:10px;
    text-align: center;
    font-weight: bold;
    font-size:25px;
    display:flex;
    justify-content: center;
    align-items:center;
    transform: rotate(-13deg);
    box-shadow: 5px 5px 8px #383838;
}
#crniLink{
    color:black;
    text-decoration: none;
}

#belaPisava{
    color:white;
}
#belaPisava:link{
    text-decoration:none;
}
.navDiv{
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}
.navDiv:hover{
    background-color:maroon;
}

#slikaSole{
    height:4cm;
    width:100%;
}

/* -----------------------------------------------------------------------------------*/
#osnovnoOkno{   /*od slike do vizije*/
    background-color: rgba(255, 255, 255, 0.315);
    display:flex;
}
#ozadjeOrgUpor{
    background-color:rgb(197, 193, 193);
    padding-top:0.4cm;
    padding-bottom:0.7cm;
}
#OrgUporab{
    padding:0.1cm;
    float:left;
    width:max-content;
    height:min-content;
}

.orgEnoteUpor{
    width:86%;
    margin:auto;
    margin-top:5px;
    margin-bottom:1cm;
    background-color:white;
}
.oeu{
    width:auto;
    height:0.8cm;
    background-color:rgb(155, 44, 11);
    color:white;
    font-weight: bolder;
    text-align:center;
    vertical-align: middle;
    padding-top:18px;
}
.sole{
    display:flex;
    justify-content: flex;
    align-items: center;
    height:0.8cm;
    width:auto;
    text-align:left;
    vertical-align: middle;
    padding:2px;
}
.soleLinki{
    color:black;
    text-decoration: none;
}
.soleLinki:hover{
    color:white;
}
.ostaliLinki{
    color:black;
    text-decoration: none;
}
.ostaliLinki:hover{
    text-decoration: underline;
}

#sss:hover{
    background-color: #0057b8;
}
#sestg:hover{
    background-color: #009639;
}
#szks:hover{
    background-color: #ef4a81;
}
#sglvs:hover{
    background-color: #e5a200;
}
#eio:hover{
    background-color: #ffd30a;
}
#vss:hover{
    background-color: #009fdf;
}
#mic:hover{
    background-color: #8094dd;
    
}
#glavnaVsebina{
    float:left;
    /*background-color: darkgoldenrod;*/
    width:100%;
}
#naslov{
    width:100%;
    text-align:center;
}
#vsebina{
    display:flex;
}
.np{
    float:left;
    width:50%;
    /*background-color: greenyellow;*/
}
.nappom{
    width:90%;
    padding-left:5%;
    /*background-color:rgb(148, 77, 155);*/
    padding:auto;
    font-size:larger;
    font-weight:bolder;
}
.novice{
    width:85%;
    margin:auto;
    padding:5%;
    background-color:rgb(255, 254, 254);
}
.vsebinaNovice{
    /*background-color:rgb(214, 30, 30);*/
    width:100%;
}
.vsebinaNovice::after{
    content: "";
    clear: both;
    display: table;
}
.slikaVNovici{
    float:right;
    text-align:justify;
    margin-left:10px;
}
a.oranzen{
    color:orange;
}
.video{
    margin-top:5%;
    text-align:center;
    vertical-align: middle;
    overflow:auto;
}
.mapouter{
    margin-bottom:10%;
}
.gmap_canvas{
    margin:auto;
    overflow:hidden;
    background:none;
    height: 300px;
    width:300px;
}

.logotipi img{
    max-width:90%;
    margin:auto;
    display:flex;
}

/* -----------------------------------------------------------------------------------*/
#vizija{
    width:100%;
    height:max-content;
    clear:both;
}
#siv{
    width:100%;
    background-color:rgb(212, 212, 212);
    height:1cm;
    text-align: center;
    font-weight: 600;
    display:flex;
    justify-content:center;
    align-items:center;
}
h5{
    color:maroon;
    padding-left:5%;
}
#besedilo{
    padding-left:30%;
}

#spodnjaVrstica{
    background-color:maroon;
    height:1.5cm;
    width:100%;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

#znotraj{
    color:white;
    display:flex;
    

    width:90%;
    background-color:rgb(0, 49, 49);
}
#logo2inlinki{
    display: flex;
    gap:1px;
    align-items:center;
}
#cpr{
}

#linki{
    vertical-align: middle;
}
/*#cpr{
    width:70%;
    text-align: right;
    vertical-align: middle;
    padding-right:2%;
    background-color: blueviolet;
}

cursor

#spodnjaVrstica{
    background-color:maroon;
    height:1.5cm;
    width:100%;
    vertical-align: middle;
    display: flex;
    justify-content:space-around;
}
#znotraj{
    color:white;
    display:flex;
    justify-content:space-between;
    gap:10px;
    vertical-align: middle;
    width:90%;
    background-color:rgb(0, 49, 49);
}
