body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/625/762/non_2x/geometric-abstract-grey-background-for-website-wallpapers-bussines-templates-vector.jpg");
}
.glavnaVrsta{
    margin-left:20%;
    margin-right:20%;

    background-color: burlywood;
}
.navigacija{
    height:90%;
    margin-left:20%;
    margin-right:20%;
}
.spodnjaVrsta{
    background-color:rgb(197, 99, 8);
    width:100%;
    height:auto;
    
}

#slikaFooter{
    width:fit-content;
    height:100%;
    margin-left:20%;
    padding-right:0%;
    background-color: cadetblue;
    
}
#trikotniki{
    margin-top:1%;
    margin-bottom:1%;
    margin-left:22%;
}
#linki{
    float:right;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    margin-left:100%;
    margin-top:21px;
    font-size: small;
}
#CPR{
    float:right;
    color:white;
    font-size: small;
}
