/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/,
 http://www.barelyfitz.com/screencast/html-training/css/positioning/*/
:root{
    --main_color: #a63700;
    --secondary_color: #531b00;
}
/*div{
    border:1px solid;
    border-color: black;
}*/
h5{
    color:var(--main_color);
    padding-left:5%;
}
.hr{
    width:90%;
    height:1px;
    border-width:0px;
    background-color:rgb(231, 231, 231);
    margin:0px auto 0px auto;
}

/*-------------------------- od vrha --------------------------*/
#stran{
    display: block;
    width:65%;
    margin:auto;
    font-family:Helvetica, Arial, sans-serif;
    font-size: small;
    background-color: white;
    /*min-width: 22.8cm;*/
    max-width:30cm;
    position:static;
}
#stran .osnovni{
    width:100%;
    height:fit-content;
    background-color: white;
    margin-top:5px;
    margin-bottom:1cm;
}
#stran > .osnovni div{  /*> le za prvega otroka in ne vse potomce*/
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#eid{
    position:absolute;
    margin-top:120px;
    margin-left: 250px;
    width: 2.8cm;
    height:1.1cm;
    color:black;
    background-color:white;
    border: 3.5px solid var(--main_color);
    border-radius:10px;
    text-align: center;
    font-weight: bold;
    font-size:25px;
    display:flex;
    justify-content: center;
    align-items:center;
    transform: rotate(-13deg);
    box-shadow: 5px 5px 8px #383838;
}
#stran .osnovni #search #eid #crniLink{
    color:black;
    text-decoration: none;
}
#stran .osnovni #oranznaPisava{
    color:rgb(241, 156, 45);
    width: max-content;
    float:right;
    font-size:large;
    font-weight:bolder;
}
/*------------------- do navigacijske vrstice ----------------*/


/*-------------------- navigacijska vrstica ------------------*/
#stran .zunanjiDiv{
    position:absolute;
    background-color:var(--main_color);
    height:1cm;
    width:100%;
    left: 0;
    right: 0;
    display:flex;
    justify-content:center;
}
.navbar{
    /*border: black 1px solid;*/
    overflow:hidden; /*skrije odvecen del spodaj*/
    background-color:var(--main_color);
    width:1130px;
    min-width:fit-content;
    margin:auto;
}
.navbar a{  /*polja, ki niso dropdown*/
    float:left;
    color:white;
    font-weight:bolder;
    font-size: 14px;
    text-align:center;
    padding:10px 9px;
    text-decoration:none;
}
.dropdown{  /*polja, ki so dropdown*/
    float:left;
    overflow:hidden;
}
.dropdown .dropbtn{ /*polje za prikaz dropdown*/
    border:none;
    outline:none;
    color:white;
    padding:10px 9px;
    font-weight:bolder;
    font-size: 14px;
    background-color: inherit;
    font-family:inherit;
    margin:0;
}
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: var(--secondary_color);
    cursor:pointer;
}
.dropdown-content{  /*dropdown box*/
    display:none;
    position:absolute;
    background-color:var(--main_color);
    min-width:100px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
.dropdown-content a{    /*linki v dropdownu*/
    float:none;
    color:white;
    padding:12px 16px;
    text-decoration:none;
    display:block;
    text-align:left;
}
.dropdown-content a:hover{  /*sencenje elementov*/
    background-color: var(--secondary_color);
}
.dropdown:hover .dropdown-content{  /*da prikaze spodaj in ne v isti vrstici kot je navbar*/
    display:block;
}
/*---------------------------- do slike  --------------------------*/

#slikaSole{
    position:relative;
    top:1cm;
    height:4cm;
    width:100%;
}

/*----------------------------- od slike do konca levega stolpca ---------------------------*/
#stran #osnovnoOkno{
    background-color: rgba(255, 255, 255, 0.315);
    display:flex;
}
#stran #osnovnoOkno #OrgUporab{
    background-color:#dadada;
    padding:0.1cm;
    float:left;
    width:max-content;
    height:min-content;
    padding-top:15px;
}
#stran #osnovnoOkno #OrgUporab .orgEnoteUpor{
    background-color: white;
    width:86%;
    margin:auto;
    margin-top:5px;
    margin-bottom:1cm;
}
#stran #osnovnoOkno #OrgUporab .orgEnoteUpor .oeu{
    background-color:var(--main_color);
    color:white;
    height:0.8cm;
    font-weight: bolder;
    text-align:center;
    padding-top:18px;
}
#stran #osnovnoOkno #OrgUporab .orgEnoteUpor .sole{
    display:block;
    padding:4%;
    height:auto;
    text-align:left;
}
#stran #osnovnoOkno #OrgUporab .orgEnoteUpor .soleLinki{
    color:black;
    text-decoration: none;
}
#stran #osnovnoOkno #OrgUporab .orgEnoteUpor .soleLinki:hover{
    color:white;
}
#stran #osnovnoOkno #OrgUporab .orgEnoteUpor .ostaliLinki{
    color:black;
    text-decoration: none;
}
#stran #osnovnoOkno #OrgUporab .orgEnoteUpor .ostaliLinki:hover{
    text-decoration: underline;
}
#sss:hover{
    background-color: #0057b8;
}
#sestg:hover{
    background-color: #009639;
}
#szks:hover{
    background-color: #ef4a81;
}
#sglvs:hover{
    background-color: #e5a200;
}
#eio:hover{
    background-color: #ffd30a;
}
#vss:hover{
    background-color: #009fdf;
}
#mic:hover{
    background-color: #8094dd;
}
#stran #osnovnoOkno #OrgUporab .orgEnoteUpor .logotipi img{
    max-width:90%;
    margin:auto;
    display:flex;
}
/*----------------------------- do konca levega stolpca ---------------------------*/


/*----------------------------- desni del od levega stolpca ---------------------------*/
#stran #osnovnoOkno #glavnaVsebina{
    width:100%;
}
#stran #osnovnoOkno #glavnaVsebina #naslov{
    width:100%;
    text-align:center;
    margin:auto;
}
#stran #osnovnoOkno #glavnaVsebina #vsebina{
    display:flex;
}
#stran #osnovnoOkno #glavnaVsebina #vsebina .np{
    float:left;
    width:50%;
}
#stran #osnovnoOkno #glavnaVsebina #vsebina .np .novice{
    background-color:white;
    width:85%;
    margin:auto;
    padding:5%;
}
.medNovicami{
    width:100%;
    height:1px;
    border-width:0px;
    background-color:rgba(196, 196, 196, 0.452);
    margin:10px auto 10px auto;
}
#stran #osnovnoOkno #glavnaVsebina #vsebina .np .novice .nappom{
    width:90%;
    padding-left:5%;
    padding:auto;
    font-size:larger;
    font-weight:bolder;
}
#stran #osnovnoOkno #glavnaVsebina #vsebina .np .novice .vsebinaNovice{
    width:100%;
}
#stran #osnovnoOkno #glavnaVsebina #vsebina .np .novice .slikaVNovici{
    float:right;
    text-align:justify;
    margin-left:10px;
}
#stran #osnovnoOkno #glavnaVsebina #vsebina .np .novice .vsebinaNovice a.oranzen{
    color:orange;
}
#stran #osnovnoOkno #glavnaVsebina #vsebina .np .novice .vsebinaNovice .video{
    margin-top:5%;
    text-align:center;
    vertical-align: middle;
    overflow:auto;
}
#stran #osnovnoOkno #glavnaVsebina #vsebina .np .novice .scaledFrame{
    max-width: 100%;
    max-height: 100%;
}
#stran #osnovnoOkno #glavnaVsebina #vsebina .np .novice .mapouter{
    margin-bottom:10%;
}
#stran #osnovnoOkno #glavnaVsebina #vsebina .np .novice .mapouter .gmap_canvas{
    margin:auto;
    overflow:hidden;
    background:none;
    max-height: 250px;
    max-width:250px;
}
/* ----------------------------- do vizije -----------------------------------------*/

/*------------------------------ vizija -------------------------------------------*/
#stran .osnovni #vizija{
    width:100%;
    height:max-content;
    clear:both;
}
#stran #vizija #siv{
    width:100%;
    background-color:rgb(212, 212, 212);
    height:1cm;
    text-align: center;
    font-weight: 600;
    display:flex;
    justify-content:center;
    align-items:center;
}
#stran #vizija #besedilo{
    padding: 0px 4px 0px 26%;
}

#stran #spodnjaVrstica{
    background-color:var(--main_color);
    height:1.5cm;
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
#stran #spodnjaVrstica #znotraj{
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:60%;
    margin:auto;
}
#stran #spodnjaVrstica #znotraj #logo2inlinki{
    display:flex;
    gap:1px;
    align-items:center;
}
.RSS{
    color:white;
    text-decoration:none;
    margin-left:4px;
}
.RSS:hover{
    text-decoration:underline;
}



@media screen and (max-width: 815px){
    /*za navbar: flex-direction:column*/
    body{
        background-color: rgb(238, 212, 177);
    }
    #stran{
        width:100%;
        min-width:200px;
        background-color: rgba(255, 205, 43, 0.342);
    }
    #eid{
        visibility: hidden;
    }
    .navbar{
        min-width:100px;
    }
    #oranznaPisava{
        visibility:hidden;
    }
    #iskanje{
        visibility:hidden;
    }

    .navbar a, .dropdown .dropbtn .dropdown-content a{
        float:none;
        display:block;
    }
    #slikaSole{
        position:inherit;
        height:auto;
        width:100%;
    }

    #stran #osnovnoOkno{
        display:unset;
    }
    #stran #osnovnoOkno #OrgUporab{
        float:unset;
        width:70%;
        height:80%;
        margin:auto;
    }
    #stran #osnovnoOkno #OrgUporab .orgEnoteUpor .sole{
        text-align:center;
    }
    #stran #osnovnoOkno #glavnaVsebina #naslov{
        width:85%;
        margin:auto;
    }
    #stran #osnovnoOkno #glavnaVsebina #vsebina{
        display:unset;
    }
    #stran #osnovnoOkno #glavnaVsebina #vsebina .np{
        float:unset;
        width:100%;
        margin:auto;
    }
    #stran #vizija #besedilo{
        padding:0 5px 0 5px;
    }
    #stran #spodnjaVrstica #znotraj{
        font-size:xx-small;
    }
    #stran #spodnjaVrstica #znotraj #logo2inlinki #logo2 img{
        width:20px;
        height:20px;
    }
}

@media screen and (max-width: 895px){
    /*body{
        background-color: rgb(56, 248, 248);
    }*/
    #stran{
        width:100%;
    }
    #stran #spodnjaVrstica #znotraj{
        width:90%;
    }
    #eid{
        visibility: hidden;
    }
}

@media screen and (min-width: 895px){
    /*body{
        background-color: rgb(248, 165, 56);
    }*/
    #eid{
        visibility: hidden;
    }
    .navbar{
        width:64%;
    }
    .navbar a, .dropdown .dropbtn{
        font-size:12px;
        font-weight:bolder;
        padding:10px 1px;
        display:block;
    }
}

@media screen and (min-width: 980px){
    /*body{
        background-color: rgb(248, 233, 101);
    }*/
    #eid{
        margin-top:100px;
        margin-left:200px;
        visibility:visible;
    }
    .navbar{
        width:64%;
    }
    .navbar a, .dropdown .dropbtn{
        font-size:12px;
        padding:10px 6px;
    }
}

@media screen and (min-width: 1260px){
    /*body{
        background-color: rgb(248, 165, 56);
    }*/
    #eid{
        margin-top:120px;
        margin-left:250px;
        visibility:visible;
    }
    .navbar{
        width:64%;
    }
    .navbar a, .dropdown .dropbtn{
        font-size:14px;
        font-weight:bolder;
        padding:10px 9px;
    }
}

@media screen and (min-width: 1790px){
    /*body{
        background-color: rgb(230, 66, 107);
    }*/
    .navbar{
        width:1130px;
    }
    #stran #spodnjaVrstica #znotraj{
        width:1080px;
    }
}
