#stran{
    background-color: rgba(239, 239, 255, 0.199);
}


#levo{
    margin-left:0cm;
    padding-left:0px;
    width:4.5cm;
    text-align:left;
    margin-right:4px;
    display:inline-block;
    background-color:rgba(206, 206, 206, 0.253);
    height:235cm;
}
#blokLevoNotranji{
    background-color:rgb(230, 237, 243);
    border:2px;
    border-color:rgba(0, 0, 0, 0.253);
    border-style:solid;
}
#blokLevoNotranji:hover{
    background-color:lightblue;
}
#blokLogotip{
    margin-bottom:0.75cm;
    margin-left:0.37cm;
    display:inline-block;
}
#logo{
    width:3.5cm;
    display:inline-block;
}
#blokPrviLinki{
    margin-left:0.5cm;
    margin-right:auto;
    font-size:smaller;
    display:inline-block;
}
#blokObčestvo{
    margin-left:0.5cm;
    margin-right:auto;
    font-size:smaller;
    display:inline-block;
}
.stranskaSivaPisava{
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
    color:grey;
}
#blokOrodja{
    margin-left:0.5cm;
    margin-right:auto;
    font-size:smaller;
    display:inline-block;
}
#blokTiskanjeIzvoz{
    margin-left:0.5cm;
    margin-right:auto;
    font-size:smaller;
    display:inline-block;
}
#blokVDrugihJezikih{
    margin-left:0.5cm;
    margin-right:auto;
    font-size:smaller;
    display:inline-block;
}
#banner{
    margin-top:20cm;
    padding-top:0.35cm;
    height:auto;
    background-color:rgba(187, 0, 0, 0.795);
    border-style:solid;
    border-width:4px;
    border-radius:10px;
    border-color:rgb(116, 9, 5);
    text-align:center;
}
#banner:hover{
    border-color:rgb(255, 153, 19);
    background-color:rgba(255, 60, 0, 0.493);
}
#oglas{
    font-size:larger;
    color:white;
}
.slikeOglas{
    margin-top:1cm;
    margin-bottom:1.5cm;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


#glavni{
    width:30.1cm;
    float:right;
}
#zgornji{
    float:right;
    margin-top:0.5cm;
    padding-left:1cm;
    padding-top:0.35cm;
    margin-bottom:0.7cm;
    width:28.5cm;
    padding-right:0.25cm;
    margin-right:20px;
    background-color:rgba(203, 229, 241, 0.123);
}
.zavihek{
    display:inline-block;
    width:auto;
    margin-top:0px;
    padding-right:6px;
    padding-left:6px;
    padding-top:8px;
    padding-bottom:8px;
    border:1px;
    border-color:rgba(165, 214, 247, 0.103);
    border-style:solid;
    border-radius:18px;
    background-color:rgba(45, 240, 240, 0.062);
}
.zavihek:hover{
    border-width:0px;
    background-color:rgba(217, 246, 247, 0.527);
}
#leviZavihek{
    margin-right:11cm;
}
#iskanje{
    float:right;
    padding-bottom:0px;
    margin-top:0cm;
    padding-top:7px;
    margin-bottom:0cm;
    margin-right:0px;
    padding-right:0px;
    margin-left:0.3cm;
}
#Iskanje{
    width:6cm;
    border-width:1px;
    display:inline-block;
}


#informacije{
    width:30.5cm;
    display:inline-block;
}
#vsebina{
    border-color:grey;
    border-style:solid;
    border-width:1px;
    margin-top:5px;
    margin-bottom:1.5cm;
    margin-left:5px;
    padding-top:5px;
    padding-right:15px;
    padding-bottom:5px;
    width:17cm;
    background-color:rgb(230, 237, 243);
    display:inline-block;
}
#vsebina:hover{
    color:rgb(102, 59, 19);
    background-color:cornsilk;
}
#besedilo{
    width:20cm;
    display:inline-block;
}
#vseb{
    font-weight:600;
    text-align:center;
}
#kazaloSt:hover{
    font-weight:bold;
    color:rgb(2, 139, 2);
}


.podnaslovi{
    font-weight:bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#štiritisočaki{
    background-color:white;
    text-align:left;
    margin-left:1.5cm;
}


#besedilo2{
    width:29cm;
}
.teme{
    margin-top:1cm;
    margin-bottom:1.5cm;
}
.slikaNaLevi{
    width:auto;
    border-width:1px;
    border-style:solid;
    border-radius:1px;
    border-color:grey;
    padding-top:5px;
    padding-left:3px;
    padding-right:3px;
    padding-bottom:4px;
    background-color:rgba(128, 128, 128, 0.219);
    margin-left:0px;
    font-size:smaller;
    margin-top:0.7cm;
    display:inline-block;
}
.besediloNaDesni{
    float:right;
    width:20cm;
}
.besediloNaLevi{
    display:inline-block;
    width:20cm;
}
.slikaNaDesni{
    float:right;
    width:auto;
    border-width:1px;
    border-style:solid;
    border-radius:1px;
    border-color:grey;
    padding-top:5px;
    padding-left:3px;
    padding-right:3px;
    padding-bottom:4px;
    background-color:rgba(128, 128, 128, 0.219);
    margin-left:10px;
    font-size:smaller;
    margin-top:0.7cm;
}

#vpis{
    display:inline-block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left:1.5cm;
}
#obrazec{
    margin-top:0.3cm;
    border-style:solid;
    border-color:black;
    border-width:1px;
    border-radius:8px;
    padding:0.5cm;
    background-color:beige;
    width:10cm;
}
#ime,#priimek,#moški,#ženska,#epošta,#telefon,#tipiObvestil,#datum,#številoSporočil,#dodatek,#počisti,#pošlji{
    margin-bottom:10px;
}
#video{
    float:right;
}
#zadnjaSlika{
    float:right;
}

#Viri{
    background-image:url("https://d3mvlb3hz2g78.cloudfront.net/wp-content/uploads/2017/04/thumb_720_450_Alpsdreamstime_xl_45054687.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    color:rgb(255, 255, 255);
    font-weight:bold;
}
#viri1{
    display:inline-block;
    width:14cm;
    background-color:rgb(255,255,255,0);
}
#viri2{
    float:right;
    width:14cm;
    background-color:transparent;
}
#kategorije{
    border-style:solid;
    border-color:grey;
    border-width:1px;
    background-color:rgba(190, 210, 216, 0.658);
    padding:4px;
}


#desno{
    float:right;
    width:10cm;
    text-align:center;
    height:auto;
}
#podatki{
    border-style:solid;
    border-color:black;
    border-width:1px;
    border-radius:2px;
    width:8.5cm;
    margin-left:0.5cm;
    margin-bottom:17px;
    margin-top:2px;
    padding-right:4px;
    text-align:center;
    font-size:smaller;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgba(134, 133, 133, 0.37);
}
#podatki:hover{
    background-color:rgba(185, 245, 212, 0.603);
}
.nasloviDesno{
    font-weight:900;
    text-align:center;
    background-color:rgb(207, 202, 128);
    width:100%;
    padding-top:2px;
    padding-bottom:2px;
    margin:2px;
    margin-bottom:4px;
    display:block;
}
.slikaDesno{
    width:100%;
    margin-top:3px;
    margin-bottom:3px;
}
.leviBlok{
    width:42%;
    text-align:left;
    padding-left:4px;
    font-weight:bold;
    margin-top:4px;
    margin-bottom:4px;
    display:inline-block;
}
.desniBlok{
    float:right;
    width:48%;
    text-align:left;
    padding-right:4px;
    margin-top:4px;
    margin-bottom:4px;
}
#seznam{
    width:1.8cm;
}

#slike{
    display:inline-block;
    width:8.5cm;
}
.okvirSlik{
    border-width:1px;
    border-style:solid;
    border-radius:1px;
    border-color:grey;
    padding-top:5px;
    padding-left:3px;
    padding-right:3px;
    background-color:rgba(128, 128, 128, 0.219);
    margin-left:0px;
    font-size:smaller;
    margin-top:0.7cm;
}
#opisSlik{
    text-align:left;
    padding-left:9px;
    padding-right:9px;
}
#matterhorn{
    margin-top:5cm;
}


h1{
    font-weight:600;
}
h2{
    font-weight:500;
}
h3{
    font-weight:300;
}